---
import logos from "../collections/logos.json";
import PageHeading from "../components/page-heading.astro";
import Logos from "../components/logos.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Clients we've Consulted">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Clients"
      description=""
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        logos.map((logo) => {
          return (
          <Logo
          name={logo.name}
              image={logo.image}
              url={logo.url}
            />
          )
        })
      }
    </div>
  </section>
</Layout>
